{
	email {$ACME_EMAIL}
}

(common_handlers) {
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:3001
	}

	handle /health {
		reverse_proxy backend:3001
	}

	handle {
		reverse_proxy frontend:80
	}
}

{$SITE_DOMAIN} {
	import common_handlers
}

www.{$SITE_DOMAIN} {
	redir https://{$SITE_DOMAIN}{uri} permanent
}
